$font-family : 'Raleway', 'Helvetica', 'Arial', sans-serif;
$navy: #101F56;
$turquoise: #569996;
$red: #B61810;

body{
	font-family: $font-family;
	margin: 0;
	padding: 0;
	&.clear{
		background: url('../img/sunny.jpg') no-repeat top center; 
		background-size: cover;
	}
	&.overcast, &.mostly.cloudy, &.partly.cloudy{
		background: url('../img/mostlycloudy.jpg') no-repeat top center;
		background-size: cover;
	}
	&.cloudy{
		background: url('../img/cloudy.jpg') no-repeat top center;
		background-size: cover;
	}
	&.rain{
		background: url('../img/rain.jpg') no-repeat top center;
		background-size: cover;
	}
	&.snow{
		background: url('../img/snow.jpg') no-repeat top center;
		background-size: cover;
	}
}

.strip-defaults{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	background: none;	
}

.button{
	padding: .7rem 1.4rem;
	background: $turquoise;
	color: white;
	border-radius: 7px;
	font-size: 1rem;
}



#loader-overlay{
	display: none;
	position: absolute;
	z-index: 500;
	width: 100%;
	height: 100%;
	background: url('../img/circle_loader.gif') no-repeat center center;
	background-color: rgba(250, 250, 250, .7);
}

input{
	&[type="submit"]{
		@extend .strip-defaults;
		@extend .button;
		font-family: $font-family;
		margin-top: 1rem;
	}
	&[type="text"]{
		height: 2rem;
		width: 30%;
		font-size: 1.5rem;
		text-align:center;
	}
}

#submitZipcode{
	position: absolute;
	width: 100%;
	top: 50%;
	right: 0;
	left: 0;
	margin: auto;
	text-align: center;
}

#forecast{
	list-style-type: none;
	margin: auto;
	text-align: center;
	li{
		display: inline-block;
		margin: 1rem;
		background: rgba(255, 255, 255, 0.8);
		padding: 0 2rem 1rem;	}
}

.high{
	color: $red;
	font-weight: 500;
	font-size: 1.5rem;
}

.low{
	color: $navy;
	font-weight: 500;
	font-size: 1.5rem;
}

.error{
	width: auto;
	background: rgba(255, 255, 255, 0.8);
	text-align: center;
	margin: 0 auto;
	width: 40%;
	padding: 1rem;
	position: absolute;
	right: 0;
	left: 0;
	top: 20%;
}